{% extends "base.html" %}


{% block content %}
  <h1>Listado de Clientes</h1>
  <table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Dni</th>
            <th>Direccion</th>
            <th>Fecha_nacimiento</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for clientes in clientes %} 
        <tr>
            <td>{{ clientes.nombre }}</td> 
            <td>{{ clientes.apellidos }}</td>
            <td>{{ clientes.dni }}</td>
            <td>{{ clientes.direccion }}</td>
            <td>{{ clientes.fecha_nacimiento}}</td>
            <td>{{ clientes.edad }}</td>

            <td>
                <a href="{% url 'clientes_update' clientes.pk %}">Editar</a>
                |
                <a href="{% url 'clientes_delete' clientes.pk %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'clientes_create' %}">Agregar Clientes</a><br><br>
