{% extends "base.html" %}

{% block content %}
  <h1>Confirmar Eliminación de Cliente</h1>
  <p>¿Estás seguro de que deseas eliminar el cliente "{{ cliente.nombre }}" ({{ cliente.apellidos }})?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
  </form>
  <a href="{% url 'clientes_list' %}">Cancelar</a>
{% endblock %}

