{% extends "base.html" %}

{% block content %}
  <h1>{% if clientes.pk %}Editar cliente{% else %}Agregar Cliente{% endif %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
  </form>
  <a href="{% url 'clientes_list' %}">Volver al Listado de Países</a>
{% endblock %}


